<!doctype html>
<html lang="en" class="has-navbar-fixed-top" data-section="boxes">

<head>
	<meta charset="utf-8">
	<meta name="viewport"
	  content="width=device-width, initial-scale=1">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<%= htmlWebpackPlugin
		.tags
		.headTags
		.filter((tag) => tag.attributes.href.startsWith('index'))
		.join('')
	%>
</head>

<body>
	<%= partials.nav('boxes') %>
	<main class="container">
		<h1><%= examples.boxes.title %></h1>
		<section class="description"><%= texts['examples.boxes.description'] %></section>
		<section>
			<h2><%= examples.boxes.connected %></h2>
			<div class="columns">
				<figure class="column is-three-quarters" id="fretboard-connected-pentatonic"></figure>
				<aside class="column aside"><%= texts['examples.boxes.1'] %></aside>
			</div>
			<div class="columns">
				<figure class="column is-three-quarters" id="fretboard-connected-caged"></figure>
				<aside class="column aside"><%= texts['examples.boxes.2'] %></aside>
				</aside>
			</div>
		</section>
		<section>
			<h2><%= examples.boxes.caged %></h2>
			<div class="columns">
				<figure class="column is-three-quarters" id="fretboard-caged-e"></figure>
				<aside class="column aside"><%= texts['examples.boxes.3'] %></aside>
			</div>
			<div class="columns">
				<figure class="column is-three-quarters" id="fretboard-caged-d"></figure>
			</div>
			<div class="columns">
				<figure class="column is-three-quarters" id="fretboard-caged-c"></figure>
			</div>
			<div class="columns">
				<figure class="column is-three-quarters" id="fretboard-caged-a"></figure>
			</div>
			<div class="columns">
				<figure class="column is-three-quarters" id="fretboard-caged-g"></figure>
			</div>
		</section>
		<section>
			<h2><%= examples.boxes.pentatonic %></h2>
			<div class="columns">
				<figure class="column is-three-quarters" id="fretboard-pentatonic-1"></figure>
				<aside class="column aside"><%= texts['examples.boxes.4'] %></aside>
			</div>
			<div class="columns">
				<figure class="column is-three-quarters" id="fretboard-pentatonic-2"></figure>
			</div>
			<div class="columns">
				<figure class="column is-three-quarters" id="fretboard-pentatonic-3"></figure>
			</div>
			<div class="columns">
				<figure class="column is-three-quarters" id="fretboard-pentatonic-4"></figure>
			</div>
			<div class="columns">
				<figure class="column is-three-quarters" id="fretboard-pentatonic-5"></figure>
			</div>
		</section>
	</main>
	<%= partials.footer() %>
	<%= htmlWebpackPlugin
		.tags
		.bodyTags
		.filter((tag) => tag.attributes.src.startsWith('index'))
		.join('')
	%>
</body>

</html>
