<!doctype html>
<html lang="en" class="has-navbar-fixed-top" data-section="chords">

<head>
	<meta charset="utf-8">
	<meta name="viewport"
	  content="width=device-width, initial-scale=1">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<%= htmlWebpackPlugin
		.tags
		.headTags
		.filter((tag) => tag.attributes.href.startsWith('index'))
		.join('')
	%>
</head>

<body>
	<%= partials.nav('tetrachords') %>
	<main>
		<section class="container">
			<header>
				<h1><%= examples.chords.title %></h1>
				<p>
					<a href="<%= getExampleLink('chords') %>">See example source</a>
				</p>				
				<%= texts['examples.chords.description'] %>
			</header>
			<section class="example">
				<header class="description"><%= texts['examples.chords.open'] %></header>
				<div class="chords columns">
					<div class="column one-fifth">
						<figure
							data-name="C"
							data-chord="x32010"></figure>
					</div>
					<div class="column one-fifth">
						<figure
							data-name="Am"
							data-chord="x02210"></figure>
					</div>
					<div class="column one-fifth">
						<figure
							data-name="G"
							data-chord="320003"></figure>
					</div>
					<div class="column one-fifth">
						<figure
							data-name="E"
							data-chord="022100"></figure>
					</div>
					<div class="column one-fifth">
						<figure
							data-name="G"
							data-chord="xx0232"></figure>
					</div>
				</div>
			</section>
			<section class="example">
				<header class="description"><%= texts['examples.chords.jazz'] %></header>
				<div class="chords columns">
					<div class="column one-fifth">
						<figure
							data-name="E7#9"
							data-chord="x7678x"
							data-crop="true"
							data-show-fret-numbers="true"></figure>
					</div>
					<div class="column one-fifth">
						<figure
							data-name="G7#5"
							data-chord="3x344x"
							data-crop="true"
							data-show-fret-numbers="true"
							data-fret-left-padding="1"></figure>
					</div>
					<div class="column one-fifth">
						<figure
							data-name="Amaj7"
							data-chord="5x665x"
							data-crop="true"
							data-show-fret-numbers="true"
							data-fret-left-padding="1"></figure>
					</div>
					<div class="column one-fifth">
						<figure
							data-name="Dm7add11"
							data-chord="10-x-10-10-8-x"
							data-crop="true"
							data-show-fret-numbers="true"></figure>
					</div>
					<div class="column one-fifth">
						<figure
							data-name="C#m7b5"
							data-chord="x4545x"
							data-crop="true"
							data-show-fret-numbers="true"
							data-fret-left-padding="1"></figure>
					</div>
				</div>
				<section class="code">
					<h2><%= examples.code %></h2>
					<%= snippets['chords.main'] %>
				</section>
			</section>
		</section>
	</main>
	<%= partials.footer() %>
	<%= htmlWebpackPlugin
		.tags
		.bodyTags
		.filter((tag) => tag.attributes.src.startsWith('index'))
		.join('')
	%>
</body>
</html>
