<!doctype html>
<html lang="en" class="has-navbar-fixed-top" data-section="modes">

<head>
	<meta charset="utf-8">
	<meta name="viewport"
	  content="width=device-width, initial-scale=1">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<%= htmlWebpackPlugin
	  .tags
	  .headTags
		.filter((tag) => tag.attributes.href.startsWith('index'))
	  .join('')
	%>
</head>

<body>
	<%= partials.nav('modes') %>
	<main>
		<section class="container">
			<h1><%= examples.modes.title %></h1>
			<section class="description"><%= texts['examples.modes.caged'] %></section>
			<section id="modes-caged">
				<form>
					<div class="columns">
						<section class="controls column is-three-quarters">
							<div class="control modes"></div>
						</section>
					</div>
					<div class="columns">
						<figure class="column is-three-quarters" id="fretboard-caged"></figure>
						<div class="column api-actions boxes">
							<div class="field">
								<div class="control"></div>
							</div>
						</div>
					</div>
				</form>
			</section>
			<section class="description"><%= texts['examples.modes.threeNotesPerString'] %></section>
			<section id="modes-3nps">
				<form>
					<div class="columns">
						<section class="controls column is-three-quarters">
							<div class="control modes"></div>
						</section>
					</div>
					<div class="columns">
						<figure class="column is-three-quarters" id="fretboard-3nps"></figure>
						<div class="column api-actions boxes no-padding">
							<div class="field">
								<div class="control"></div>
							</div>
						</div>
					</div>
				</section>
			</form>
		</section>
	</main>
	<%= partials.footer() %>
	<%= htmlWebpackPlugin
		.tags
		.bodyTags
		.filter((tag) => tag.attributes.src.startsWith('index'))
		.join('')
	%>
</body>
</html>
