<!doctype html>
<html lang="en" class="has-navbar-fixed-top" data-section="playback">

<head>
	<meta charset="utf-8">
	<meta name="viewport"
	  content="width=device-width, initial-scale=1">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<%= htmlWebpackPlugin
		.tags
		.headTags
		.filter((tag) => tag.attributes.href.startsWith('playback'))
		.join('')
	%>
</head>

<body>
	<%= partials.nav('playback') %>
	<main class="container">
		<header>
			<h1><%= examples.playback.title %></h1>
			<p>
				<a href="<%= getExampleLink('playback') %>">See example source</a>
			</p>
		</header>			
		<section class="columns">
			<div class="column is-three-quarters">
				<figure id="notation"></figure>
				<div id="audio"></div>
				<figure id="fretboard"></figure>
			</div>
			<aside class="column aside"><%= texts['examples.playback'] %></aside>
		</section>
	</main>
	<%= partials.footer() %>
	<%= htmlWebpackPlugin
		.tags
		.bodyTags
		.filter((tag) => tag.attributes.src.startsWith('playback'))
		.join('')
	%>
</body>
</html>
