<!doctype html>
<html lang="en" class="has-navbar-fixed-top" data-section="systems">

<head>
	<meta charset="utf-8">
	<meta name="viewport"
	  content="width=device-width, initial-scale=1">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<%= htmlWebpackPlugin
		.tags
		.headTags
		.filter((tag) => tag.attributes.href.startsWith('index'))
		.join('')
	%>
</head>

<body>
	<%= partials.nav('systems') %>
	<main>
		<section class="container">
			<header>
				<h1><%= examples.systems.title %></h1>
				<p>
					<a href="<%= getExampleLink('systems') %>">See example source</a>
				</p>				
				<%= texts['examples.systems.description'] %>
            </header>
            <section class="fretboard-systems-pentatonic">
                <header>
                    <h2><%= examples.systems.pentatonic %></h2>
                    <%= texts['examples.systems.pentatonic'] %>
                </header>
                <div class="columns">
                    <figure class="column is-three-quarters"></figure>
                    <aside class="column aside form-wrapper"></aside>
                </div>
            </section>
            <section class="fretboard-systems-caged">
                <header>
                    <h2><%= examples.systems.caged %></h2>
                    <%= texts['examples.systems.caged'] %>
                </header>
                <div class="columns">
                    <figure class="column is-three-quarters"></figure>
                    <aside class="column aside form-wrapper"></aside>
                </div>
            </section>
            <section class="fretboard-systems-tnps">
                <header>
                    <h2><%= examples.systems.tnps %></h2>
                    <%= texts['examples.systems.tnps'] %>
                </header>
                <div class="columns">
                    <figure class="column is-three-quarters"></figure>
                    <aside class="column aside form-wrapper"></aside>
                </div>
            </section>
            <section>
                <h2><%= examples.systems.boxes %></h2>
                <div class="columns">
                    <figure class="column is-three-quarters" id="fretboard-connected-pentatonic"></figure>
                    <aside class="column aside"><%= texts['examples.systems.boxes.1'] %></aside>
                </div>
                <div class="columns">
                    <figure class="column is-three-quarters" id="fretboard-connected-caged"></figure>
                    <aside class="column aside"><%= texts['examples.systems.boxes.2'] %></aside>
                </div>
            </section>
		</section>
	</main>
	<%= partials.footer() %>
	<%= htmlWebpackPlugin
		.tags
		.bodyTags
		.filter((tag) => tag.attributes.src.startsWith('index'))
		.join('')
	%>
</body>
</html>
