<!doctype html>
<html class="has-navbar-fixed-top">

<head>
	<meta charset="utf-8">
	<meta name="viewport"
	  content="width=device-width, initial-scale=1">
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
	<%= partials.nav('documentation') %>
	<main>
		<section class="documentation text container"><%= documentation %></section>
	</main>
	<%= partials.footer() %>
	<%= htmlWebpackPlugin
	  .tags
	  .bodyTags
	  .filter((tag) => tag.attributes.src.startsWith('documentation'))
	  .join('')
	%>
</body>
</html>
