<!doctype html>
<html class="home has-navbar-fixed-top">

<head>
	<meta charset="utf-8">
	<meta name="viewport"
	  content="width=device-width, initial-scale=1">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<%= htmlWebpackPlugin
	  .tags
	  .headTags
		.filter((tag) => tag.attributes.href.startsWith('index'))
	  .join('')
	%>
</head>

<body>
	<%= partials.nav('index') %>
	<main>
		<section class="hero">
			<div class="container">
				<div class="hero-content"><%= texts['home.hero'] %></div>
				<div class="hero-example columns">
					<figure class="column is-three-quarters" id="fretboard-api"></figure>
					<ul class="column api-actions">
						<li><button class="button is-small is-fullwidth" data-action="show-notes">Show Notes</button></li>
						<li><button class="button is-small is-fullwidth" data-action="show-notes-with-octave">Show Notes with octave</button></li>
						<li><button class="button is-small is-fullwidth" data-action="show-intervals">Show Intervals</button></li>
						<li><button class="button is-small is-fullwidth" data-action="highlight-triad">Highlight root triad</button></li>
						<li><button class="button is-small is-info is-fullwidth" data-action="reset">Reset</button></li>
					</ul>
				</div>
			</div>
		</section>
		<div class="container">
			<section class="about text"><%= texts['home.about'] %></section>
		</div>
	</main>
	<%= partials.footer() %>
	<%= htmlWebpackPlugin
	  .tags
	  .bodyTags
	  .filter((tag) => tag.attributes.src.startsWith('index'))
	  .join('')
	%>
</body>
</html>
