<!doctype html>
<html class="has-navbar-fixed-top">

<head>
	<meta charset="utf-8">
	<meta name="viewport"
	  content="width=device-width, initial-scale=1">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
</head>

<body>
	<%= partials.nav('tetrachords') %>
	<main>
		<section class="container">
			<h1><%= examples.tetrachords.title %></h1>
			<p class="description"><%= texts['examples.tetrachords'] %></p>
			<div class="columns">
				<figure class="column is-three-quarters" id="fretboard"></figure>
				<form class="column api-actions">
					<div class="field">
					  <div class="control">
					    <div class="select is-small">
					      <select name="upperTetrachordType">
									<option disabled selected>Select Upper Tetrachord...</option>
									<optgroup label="Common tetrachords">
						        <option value="Major">Major</option>
						        <option value="Minor">Minor</option>
						        <option value="Phrygian">Phrygian</option>
									</optgroup>
									<optgroup label="Exotic tetrachords">
						        <option value="Harmonic">Harmonic</option>
						        <option value="Lydian">Lydian</option>
									</optgroup>
					      </select>
					    </div>
					  </div>
					</div>

					<div class="field">
					  <div class="control">
					    <div class="select is-small">
					      <select name="upperTetrachordLayout">
									<option disabled selected>Select Upper Tetrachord Layout...</option>
						      <option value="0">Linear</option>
						      <option value="1">3 + 1</option>
						      <option value="2">2 + 2</option>
						      <option value="3">1 + 3</option>
					      </select>
					    </div>
					  </div>
					</div>

					<div class="field">
					  <div class="control">
					    <div class="select is-small">
					      <select name="lowerTetrachordType">
									<option disabled selected>Select Lower Tetrachord...</option>
									<optgroup label="Common tetrachords">
						        <option value="Major">Major</option>
						        <option value="Minor">Minor</option>
						        <option value="Phrygian">Phrygian</option>
									</optgroup>
									<optgroup label="Exotic tetrachords">
						        <option value="Harmonic">Harmonic</option>
						        <option value="Lydian">Lydian</option>
									</optgroup>
					      </select>
					    </div>
					  </div>
					</div>

					<div class="field">
					  <div class="control">
					    <div class="select is-small">
					      <select name="lowerTetrachordLayout">
									<option disabled selected>Select Lower Tetrachord Layout...</option>
						      <option value="0">Linear</option>
						      <option value="1">3 + 1</option>
						      <option value="2">2 + 2</option>
						      <option value="3">1 + 3</option>
					      </select>
					    </div>
					  </div>
					</div>

				</form>
			</div>
		</section>
	</main>
	<%= partials.footer() %>
	<%= htmlWebpackPlugin
		.tags
		.bodyTags
		.filter((tag) => tag.attributes.src.startsWith('tetrachords'))
		.join('')
	%>
</body>
</html>
